

body{
    background: #f5f5f5;
}

.main-container{
    overflow: hidden;
}

.navbar{
    padding: 40px 180px;
    background-color: rgba(0,0,0,0);
    transition: all 1s;
    
    .navbar-toggle .icon-bar{
        background-color: #fff;
    }
    
    a{
        color: #fff;
        transition: all 0.5s;
        
        &:hover{
           
            color: #9a9a9a;
        }
    }
    
    .nav{
        a{
            &:hover, &:focus{
                background-color: rgba(0,0,0,0);
            }
        }
    }
    
    &.smscreen{
        padding: 0 25px;
        
        .navbar-collapse.in{
            background: rgba(0,0,0,0.4);
            transition: background 0.5s;
        }
    }
    
    &.move{
        background-color: #102335;
        padding: 0 20px;
    }
}
.k-nav-title{
	margin-left: 10px;
}

.bg-bottom { 
	padding: 50px 0;
    background-color: #e7e7e7;
}

.slideanim {
	visibility:hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(80%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.top-arrow{
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    transition: opacity 1s;
    
    span{
        font-size: 30px;
        
    }
}
