// @Author Neal  loseveny@gmail.com
// @Date 2017-01-12
// For Cucumber Test

@mixin transition($param...) {
  -webkit-transition:$param;
   -moz-transition:$param;
   -ms-transition:$param;
   -o-transition:$param;
   transition:$param;
}
@mixin transform($param...) {
  -webkit-transform:$param;
   -moz-transform:$param;
   -ms-transform:$param;
   -o-transform:$param;
   transform:$param;
}
@mixin box-shadow($param...) {
  -webkit-box-shadow:$param;
   -moz-box-shadow:$param;
   -ms-box-shadow:$param;
   -o-box-shadow:$param;
   box-shadow:$param;
}
@mixin text-shadow($param...) {
  -webkit-text-shadow:$param;
   -moz-text-shadow:$param;
   -ms-text-shadow:$param;
   -o-text-shadow:$param;
   text-shadow:$param;
}
@mixin border-radius($param...) {
  -webkit-border-radius:$param;
   -moz-border-radius:$param;
   -ms-border-radius:$param;
   -o-border-radius:$param;
   border-radius:$param;
}
@mixin margin-lr($param) {
    margin-left: $param;
    margin-right: $param;
}
@mixin padding-lr($param) {
    padding-left: $param;
    padding-right: $param;
}
@mixin center-block {
    margin-left:auto;
    margin-right:auto;
}
//@include box-shadow(0 2px 2px rgba(0,0,0,.3),0 3px 3px rgba(0,0,0,.3),0 4px 4px rgba(0,0,0,.3));

/* common css */
body{
    margin-top:65px;
}

.k-nav-title{
    padding-left: 15px;
}

.bg-bottom{
    background: #f5f5f5;
}

/* menu area */

.menu-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow : ellipsis;
    color: #555;
    cursor: pointer;
    @include transition(transform 0.2s);
    
    &:hover{
        background: #eee;
    }
    
    &.current{
        width: 104%;
        color: #000;
        border-right: 4px solid #71c3ce;
        box-shadow: 2px 1px 10px;
        z-index: 5;
    }
    
    &.click{
        @include transform(translateX(5px));
    }
}


/* menu area end*/


/* picture area */
.pics-current{
    width: 100%;
}

.pics-thumbnail {
    
    //TODO find some new ways to solve the image vibration issue (now in zoom-version.html)
    // $gap-before = x   $gap-after = y
    // 7 * 2x + x = 7.66 + 7 * 2y + y
    
//  $gap-before: 0.611%;
//  $gap-after:  0.1%;

    // the half gap between two thumbnails
    $gap-before: 0.15%;
    
    // the length of grid col-sm-1
    $length-col-1 : 1/12;
    
    // the length of grid col-xs-2
    $length-col-2 : 2/12;
    
    &:hover>.pics-container .pics-inner:after{
        opacity: 1;
    }
    
//  &:hover>div.spec-margin{
//      margin-right: $gap-after;
//  }
//  
//  &:hover>div:not(.spec-margin){
//      margin: 0 $gap-after;
//  }
    
    &>.pics-container{
        height: 18vw;
        @include padding-lr($gap-before);
        margin-bottom: 10px;
        cursor: pointer;
        
//      &.spec-margin{
//          margin-right: $gap-before;
//      }
//      
//      &:not(.spec-margin){
//          @include margin-lr($gap-before);
//      }

        .pics-inner{
            position: relative;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            @include transition(left 0.5s, width 1s ease 0.5s, transform 1.5s, height 0.5s ease 0.5s, opacity 1s ease 1s);  //margin 1s
            border-top: 16px solid #000000;
            
            @media (max-width: 768px){
                &{
                     @include transition(left 0.5s, width 1s ease 0.5s, transform 1.5s, opacity 0.8s ease);
                }
            }
            
            // explanation of this formula
            // $gap-before * 100% = x * $length-col-1
            // 0.15% * 100%(length of row) = x * 8.33%(length of col-1)
            
            &:after{
                content: "";
                z-index: 1;
                position: absolute;
                left: $gap-before/$length-col-1;
                top: 0;
                width: 100% - ($gap-before/$length-col-1);
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                opacity: 0.5;
                @include transition(opacity 0.5s);
            }
            
            @media (max-width: 768px){
                &:after{
                     left: $gap-before/$length-col-2;
                     width: 100% - 2*($gap-before/$length-col-2);
                }
            }
            
            &:hover:after{
                opacity: 0;
            }
            
            &:hover{
    //          width: 16%;
                border: 1px solid #777;
                @include box-shadow(0 0 40px #fff);
                @include transform(scale(1.2));
                z-index: 10;
            }
            
            &.active{
              width: 19.253125vw;
              left: -135%;
              z-index: 25;
              @include transform(scale(1.2));
              
              &:after{
                  opacity: 0;
              }
              
              .pics-img{
                  left: 0;
              }
            }
            
            &.active2{
                height: 180%;
                border: none;
                @include transform(scale(1));
                opacity: 0;
            }
            
            &.active2:hover{
                border: none;
            }
            
            &.active-back{
                width: 100%;
            }
            
            &.active-current{
                @include transform(scale(1.4));
            }
            
            // in case of some bugs caused by extremely quick mouse moving operation
            &.active-back.moving{
                width: 19.253125vw;
            }
            
            .pics-img{
//              width: 400%; 
                width: 19.253125vw; //298.8:1536
                position: relative;
                left: -135%;
                @include transition(left 1s);
            }
        }
    }
    
}

.pics-name{
  position: absolute;
  font-size: 60px;
  z-index: 100;
  
  opacity: 0;
  
  &.active{
      opacity: 1;
  }
}

.p-first{
    color: #aaa;
    top: 70%;
    left: 40%;
    @include transform(translateX(-200px));
    @include transition(all 1s);
    
    &.active{
      @include transform(translateX(0));
    }
}

.p-last{
    color: #000;
    top: 92%;
    left: 60%;
    @include transform(translateX(200px));
    @include transition(all 1s ease 0.7s);
    
    &.active{
      @include transform(translateX(0));
    }
}

/* picture area end */

/* text area */
   
.ctext-title{
    width: 25%;
    white-space: nowrap;
    border-bottom: 2px solid #6f6f6f;
    padding-bottom: 10px;
    @include transition(transform 0.8s, opacity 0.5s, text-shadow 1s);
    @include transform(translateX(0));
    @include text-shadow(0px 0px 0px black);
    opacity: 1;
    
    &.ctext-title-init{
        @include text-shadow(10px 5px 7px black);
        @include transform(translateX(200%));
        opacity: 0;
    }
}

.ctext-content{
//  background: rgba(184, 200, 206, 0.29);
    color: #555;
    margin-top: 20px;
    padding: 20px 40px;
    @include border-radius(10px 0 10px 0);
    @include box-shadow(5px 5px 5px #79bcd6);
    border: 2px solid #71c3ce;
    border-left: 69px solid #71c3ce;
    @include transition(transform 1s, opacity 0.5s);
    @include transform(scale(1));
    opacity: 1;
    
     &.ctext-content-init{
        @include transform(scale(0.95));
        opacity: 0;
    }
}

/* text area end */



//test css block

//.test-sm-block{
//  display:inline-block; width:  100%; height: 148px;border: dashed black 1px;
//}
//@media (min-width: 768px){
//  .test {
//      display: none;
//  }
//}
//
//
//.test{
//  display: block;
//}

// /test block end

