/* common css */
body {
  margin-top: 65px; }

.k-nav-title {
  padding-left: 15px; }

.bg-bottom {
  background: #f5f5f5; }

/* menu area */
.menu-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
  cursor: pointer;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s; }
  .menu-item:hover {
    background: #eee; }
  .menu-item.current {
    width: 104%;
    color: #000;
    border-right: 4px solid #71c3ce;
    box-shadow: 2px 1px 10px;
    z-index: 5; }
  .menu-item.click {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px); }

/* menu area end*/
/* picture area */
.pics-current {
  width: 100%; }

.pics-thumbnail:hover > .pics-container .pics-inner:after {
  opacity: 1; }
.pics-thumbnail > .pics-container {
  height: 18vw;
  padding-left: 0.15%;
  padding-right: 0.15%;
  margin-bottom: 10px;
  cursor: pointer; }
  .pics-thumbnail > .pics-container .pics-inner {
    position: relative;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, height 0.5s ease 0.5s, opacity 1s ease 1s;
    -moz-transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, height 0.5s ease 0.5s, opacity 1s ease 1s;
    -ms-transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, height 0.5s ease 0.5s, opacity 1s ease 1s;
    -o-transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, height 0.5s ease 0.5s, opacity 1s ease 1s;
    transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, height 0.5s ease 0.5s, opacity 1s ease 1s;
    border-top: 16px solid #000000; }
    @media (max-width: 768px) {
      .pics-thumbnail > .pics-container .pics-inner {
        -webkit-transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, opacity 0.8s ease;
        -moz-transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, opacity 0.8s ease;
        -ms-transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, opacity 0.8s ease;
        -o-transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, opacity 0.8s ease;
        transition: left 0.5s, width 1s ease 0.5s, transform 1.5s, opacity 0.8s ease; } }
    .pics-thumbnail > .pics-container .pics-inner:after {
      content: "";
      z-index: 1;
      position: absolute;
      left: 1.8%;
      top: 0;
      width: 98.2%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0.5;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    @media (max-width: 768px) {
      .pics-thumbnail > .pics-container .pics-inner:after {
        left: 0.9%;
        width: 98.2%; } }
    .pics-thumbnail > .pics-container .pics-inner:hover:after {
      opacity: 0; }
    .pics-thumbnail > .pics-container .pics-inner:hover {
      border: 1px solid #777;
      -webkit-box-shadow: 0 0 40px #fff;
      -moz-box-shadow: 0 0 40px #fff;
      -ms-box-shadow: 0 0 40px #fff;
      -o-box-shadow: 0 0 40px #fff;
      box-shadow: 0 0 40px #fff;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      z-index: 10; }
    .pics-thumbnail > .pics-container .pics-inner.active {
      width: 19.253125vw;
      left: -135%;
      z-index: 25;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
      .pics-thumbnail > .pics-container .pics-inner.active:after {
        opacity: 0; }
      .pics-thumbnail > .pics-container .pics-inner.active .pics-img {
        left: 0; }
    .pics-thumbnail > .pics-container .pics-inner.active2 {
      height: 180%;
      border: none;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 0; }
    .pics-thumbnail > .pics-container .pics-inner.active2:hover {
      border: none; }
    .pics-thumbnail > .pics-container .pics-inner.active-back {
      width: 100%; }
    .pics-thumbnail > .pics-container .pics-inner.active-current {
      -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      -ms-transform: scale(1.4);
      -o-transform: scale(1.4);
      transform: scale(1.4); }
    .pics-thumbnail > .pics-container .pics-inner.active-back.moving {
      width: 19.253125vw; }
    .pics-thumbnail > .pics-container .pics-inner .pics-img {
      width: 19.253125vw;
      position: relative;
      left: -135%;
      -webkit-transition: left 1s;
      -moz-transition: left 1s;
      -ms-transition: left 1s;
      -o-transition: left 1s;
      transition: left 1s; }

.pics-name {
  position: absolute;
  font-size: 60px;
  z-index: 100;
  opacity: 0; }
  .pics-name.active {
    opacity: 1; }

.p-first {
  color: #aaa;
  top: 70%;
  left: 40%;
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .p-first.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.p-last {
  color: #000;
  top: 92%;
  left: 60%;
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 1s ease 0.7s;
  -moz-transition: all 1s ease 0.7s;
  -ms-transition: all 1s ease 0.7s;
  -o-transition: all 1s ease 0.7s;
  transition: all 1s ease 0.7s; }
  .p-last.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

/* picture area end */
/* text area */
.ctext-title {
  width: 25%;
  white-space: nowrap;
  border-bottom: 2px solid #6f6f6f;
  padding-bottom: 10px;
  -webkit-transition: transform 0.8s, opacity 0.5s, text-shadow 1s;
  -moz-transition: transform 0.8s, opacity 0.5s, text-shadow 1s;
  -ms-transition: transform 0.8s, opacity 0.5s, text-shadow 1s;
  -o-transition: transform 0.8s, opacity 0.5s, text-shadow 1s;
  transition: transform 0.8s, opacity 0.5s, text-shadow 1s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-text-shadow: 0px 0px 0px black;
  -moz-text-shadow: 0px 0px 0px black;
  -ms-text-shadow: 0px 0px 0px black;
  -o-text-shadow: 0px 0px 0px black;
  text-shadow: 0px 0px 0px black;
  opacity: 1; }
  .ctext-title.ctext-title-init {
    -webkit-text-shadow: 10px 5px 7px black;
    -moz-text-shadow: 10px 5px 7px black;
    -ms-text-shadow: 10px 5px 7px black;
    -o-text-shadow: 10px 5px 7px black;
    text-shadow: 10px 5px 7px black;
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
    opacity: 0; }

.ctext-content {
  color: #555;
  margin-top: 20px;
  padding: 20px 40px;
  -webkit-border-radius: 10px 0 10px 0;
  -moz-border-radius: 10px 0 10px 0;
  -ms-border-radius: 10px 0 10px 0;
  -o-border-radius: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  -webkit-box-shadow: 5px 5px 5px #79bcd6;
  -moz-box-shadow: 5px 5px 5px #79bcd6;
  -ms-box-shadow: 5px 5px 5px #79bcd6;
  -o-box-shadow: 5px 5px 5px #79bcd6;
  box-shadow: 5px 5px 5px #79bcd6;
  border: 2px solid #71c3ce;
  border-left: 69px solid #71c3ce;
  -webkit-transition: transform 1s, opacity 0.5s;
  -moz-transition: transform 1s, opacity 0.5s;
  -ms-transition: transform 1s, opacity 0.5s;
  -o-transition: transform 1s, opacity 0.5s;
  transition: transform 1s, opacity 0.5s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1; }
  .ctext-content.ctext-content-init {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; }

/* text area end */

/*# sourceMappingURL=index.css.map */
